@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
	background-image: url('space.jpeg');
	background-repeat: no-repeat;
    	background-size: cover;
	background-position:center;
	background-attachment: fixed;
}

pre {
	color:white;
}

#scoreboard {
	background-color:white;
        font-family:  "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-size: 25px;
}

.audio{
  width:100%;
  font-family: Arial;
  margin: 0 auto;
}

.audio audio{
  margin: 0 auto;
  display: table;
}

.audio p{
  margin: 0 auto;
  display: table;
  font-size: 24px;
  color: white;
}

td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	margin: 50px auto;
	background-color: #CBC3E3;
}

.startgame button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #6A0572;
    border: 2px solid #6A0572;
    margin: 0 auto;
}

.startgame {
     position: absolute;
     left: 50%;
     margin-left: -100px;
}

.startgame button:hover {
    background-color: #AB83A1; 
    border: 2px solid #AB83A1;
}

.endgame button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #6A0572;
    border: 2px solid #6A0572;
}

.endgame button:hover {
    background-color: #AB83A1; 
    border: 2px solid #AB83A1;
}

.turnText {
    text-align: center;
}

.turnText p {
	display: inline-block;
	font-size: 2em;
	font-family: 'Honk', sans-serif ;

}

.endgame {
  display: none;
  width: 400px;
  top: 120px;
  background-color: #F4EDF2;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: black;
  font-size: 2em;
  font-family: 'Honk', sans-serif ;
}

.pickgamemode {
    display: none;
    width: 400px;
    background-color: #F4EDF2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-size: 2em;
    font-family: 'Honk', sans-serif ;
}

.pickgamemode button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #6A0572;
    border: 2px solid #6A0572;
}

.pickgamemode button:hover {
    background-color: #AB83A1; 
    border: 2px solid #AB83A1;
}

.aimode {
    display: none;
    width: 400px;
    background-color: #F4EDF2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-size: 2em;
    font-family: 'Honk', sans-serif ;
}


.aimode button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #6A0572;
    border: 2px solid #6A0572;
}

.aimode button:hover {
    background-color: #AB83A1; 
    border: 2px solid #AB83A1;
}

.roundwin {
    display: none;
    width: 400px;
    background-color: #F4EDF2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-size: 2em;
    font-family: 'Honk', sans-serif ;
}

.roundwin button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #6A0572;
    border: 2px solid #6A0572;
}

.roundwin button:hover {
    background-color: #AB83A1; 
    border: 2px solid #AB83A1;
}






	
.win-cell {
    background-color: #6A0572;
}
